body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 12px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited {
	color: #e6e154;
	text-decoration: none;
	font-weight: bold;
}
a:active, a:hover {
	color: #e6e154;
	text-decoration: underline;
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

#container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(../images/bg.jpg) repeat-y;
}

/* menu */

#before-header {
	width: 960px;
	height: 45px;
	background: url(../images/menu_bg.jpg) no-repeat;
}

#menu {
	float: left;
	clear: both;
}

#menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#menu li a:hover, #menu li .current {
	color: #fcf88e;
}

/* header */
/*
#header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/header_bg_blank.jpg) no-repeat;
}

#header a, a:hover {
	color: #ffffff;
}*/

#header #main_logo {
	margin-left: 100px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
	width: 300px;
	text-align: center;
}

#header #main_logo img {
	max-height: 200px;
}

/* end of header */

/* content */
#content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#content #content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 1px solid #212120;
}

#content #content_right {
	float: right;
	width: 670px;
}

#content #content_right p {
	margin: 10px;
}

#content #content_right label {
	width: 100px;
}

#content_left .content_left_section {
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.content_left_section ul {
	padding: 0;
	margin: 0;
}

.content_left_section ul li {
	padding: 0 0 3px 10px;
	list-style: none;
}

.content_left_section ul li a {
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.content_left_section li a:hover, .content_left_section li .current {
	color: #fcf88e;
}

#content_right .product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

#content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(../images/h1_bg.jpg);
}

#content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#content_right li {
	padding: 0 0 3px 0;
}

#content_right #image_panel {
	float: left;
	width: 200px;
	height: 270px;
	margin-right: 10px;
	text-align: center;
}

#content_right #image_panel img {
	max-width: 200px;
	max-height: 200px;
}

#content_right #book_details {
	min-height: 270px;
	overflow: hidden;
}

#content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}


/* end of content */

/* footer */
#footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#footer a {
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/************************************************/
tr:nth-child(even) {
  background-color: #625D5D;
}

th {
	/*color: #DF7AE6*/
	color: #6391C6
}

div img {
    display: block;
    margin: 20px auto 10px;
    max-width: 900px;
    outline: none;
}
div img:active {
    max-width: 100%;
}
.paginator_field {
	background-color: #363333;
}

/************************************************/
.css-input_text_form {
	width: 200px;
}
